<div class="flex-container">
  <div class="flex-slide home">
    <%= link_to 'favorite', 'categories/index?category_id=0', class: "flex-title flex-title"%>
    <div class="flex-about flex-about-home"><p>Click here to navigate to the home section of the website</p></div>
  </div>
  <div class="flex-slide food">
    <%= link_to 'food', 'categories/index?category_id=1', class: "flex-title flex-title"%>
    <div class="flex-about flex-about-home"><p>Click here to navigate to the home section of the website</p></div>
  </div>
  <div class="flex-slide about">
    <%= link_to 'shopping', 'categories/index?category_id=2', class: "flex-title flex-title"%>
    <div class="flex-about flex-about-home"><p>Click here to navigate to the home section of the website</p></div>
  </div>
  <div class="flex-slide work">
    <%= link_to "nature", "categories/index?category_id=3", class: "flex-title flex-title" %>
    <div class="flex-about flex-about-home"><p>Click here to navigate to the home section of the website</p></div>
  </div>
  <div class="flex-slide contact">
    <%= link_to 'event', 'categories/index?category_id=4', class: "flex-title flex-title"%>
    <div class="flex-about flex-about-home"><p>Click here to navigate to the home section of the website</p></div>
  </div>
</div>