<div class="pflex-container">
  <div class="pflex-slide pwork">
    <%= link_to '北海道・東北', class: "pflex-title pflex-title"%>
      <div class="prefecture">
        <%= link_to '北海道', 'prefectures/index?prefecture_id=0', class: "pflex-about"%>
        <%= link_to '青森県', 'prefectures/index?prefecture_id=1', class: "pflex-about"%>
        <%= link_to '岩手県', 'prefectures/index?prefecture_id=2', class: "pflex-about"%>
        <%= link_to '宮城県', 'prefectures/index?prefecture_id=3', class: "pflex-about"%>
        <%= link_to '秋田県', 'prefectures/index?prefecture_id=4', class: "pflex-about"%>
        <%= link_to '山形県', 'prefectures/index?prefecture_id=5', class: "pflex-about"%>
        <%= link_to '福島県', 'prefectures/index?prefecture_id=6', class: "pflex-about"%>
      </div>
  </div>
  <div class="pflex-slide pwork">
    <%= link_to '関東', '#', class: "pflex-title pflex-title"%>
      <div class="prefecture">
        <%= link_to '茨城県', 'prefectures/index?prefecture_id=7', class: "pflex-about"%>
        <%= link_to '栃木県', 'prefectures/index?prefecture_id=8', class: "pflex-about"%>
        <%= link_to '群馬県', 'prefectures/index?prefecture_id=9', class: "pflex-about"%>
        <%= link_to '埼玉県', 'prefectures/index?prefecture_id=10', class: "pflex-about"%>
        <%= link_to '千葉県', 'prefectures/index?prefecture_id=11', class: "pflex-about"%>
        <%= link_to '東京都', 'prefectures/index?prefecture_id=12', class: "pflex-about"%>
        <%= link_to '神奈川県', 'prefectures/index?prefecture_id=13', class: "pflex-about"%>
      </div>
  </div>
  <div class="pflex-slide pwork">
    <%= link_to '中部', '#', class: "pflex-title pflex-title"%>
      <div class="prefecture">
        <%= link_to '新潟県', 'prefectures/index?prefecture_id=14', class: "pflex-about"%>
        <%= link_to '富山県', 'prefectures/index?prefecture_id=15', class: "pflex-about"%>
        <%= link_to '石川県', 'prefectures/index?prefecture_id=16', class: "pflex-about"%>
        <%= link_to '福井県', 'prefectures/index?prefecture_id=17', class: "pflex-about"%>
        <%= link_to '山梨県', 'prefectures/index?prefecture_id=18', class: "pflex-about"%>
        <%= link_to '長野県', 'prefectures/index?prefecture_id=19', class: "pflex-about"%>
        <%= link_to '岐阜県', 'prefectures/index?prefecture_id=20', class: "pflex-about"%>
        <%= link_to '静岡県', 'prefectures/index?prefecture_id=21', class: "pflex-about"%>
        <%= link_to '愛知県', 'prefectures/index?prefecture_id=22', class: "pflex-about"%>
      </div>
  </div>
  <div class="pflex-slide pwork">
    <%= link_to '関西', '#', class: "pflex-title pflex-title" %>
      <div class="prefecture">
        <%= link_to '三重県', 'prefectures/index?prefecture_id=23', class: "pflex-about"%>
        <%= link_to '滋賀県', 'prefectures/index?prefecture_id=24', class: "pflex-about"%>
        <%= link_to '京都府', 'prefectures/index?prefecture_id=25', class: "pflex-about"%>
        <%= link_to '大阪府', 'prefectures/index?prefecture_id=26', class: "pflex-about"%>
        <%= link_to '兵庫県', 'prefectures/index?prefecture_id=27', class: "pflex-about"%>
        <%= link_to '奈良県', 'prefectures/index?prefecture_id=28', class: "pflex-about"%>
        <%= link_to '和歌山県', 'prefectures/index?prefecture_id=29', class: "pflex-about"%>
      </div>
  </div>
  <div class="pflex-slide pwork">
    <%= link_to '中国・四国', '#', class: "pflex-title pflex-title"%>
      <div class="prefecture">
        <%= link_to '鳥取県', 'prefectures/index?prefecture_id=30', class: "pflex-about"%>
        <%= link_to '島根県', 'prefectures/index?prefecture_id=31', class: "pflex-about"%>
        <%= link_to '岡山県', 'prefectures/index?prefecture_id=32', class: "pflex-about"%>
        <%= link_to '広島県', 'prefectures/index?prefecture_id=33', class: "pflex-about"%>
        <%= link_to '山口県', 'prefectures/index?prefecture_id=34', class: "pflex-about"%>
        <%= link_to '徳島県', 'prefectures/index?prefecture_id=35', class: "pflex-about"%>
        <%= link_to '香川県', 'prefectures/index?prefecture_id=36', class: "pflex-about"%>
        <%= link_to '愛媛県', 'prefectures/index?prefecture_id=37', class: "pflex-about"%>
        <%= link_to '高知県', 'prefectures/index?prefecture_id=38', class: "pflex-about"%>
      </div>
  </div>
  <div class="pflex-slide pwork">
    <%= link_to '九州・沖縄', '#', class: "pflex-title pflex-title"%>
      <div class="prefecture">
        <%= link_to '福岡県', 'prefectures/index?prefecture_id=39', class: "pflex-about"%>
        <%= link_to '佐賀県', 'prefectures/index?prefecture_id=40', class: "pflex-about"%>
        <%= link_to '長崎県', 'prefectures/index?prefecture_id=41', class: "pflex-about"%>
        <%= link_to '熊本県', 'prefectures/index?prefecture_id=42', class: "pflex-about"%>
        <%= link_to '大分県', 'prefectures/index?prefecture_id=43', class: "pflex-about"%>
        <%= link_to '宮崎県', 'prefectures/index?prefecture_id=44', class: "pflex-about"%>
        <%= link_to '鹿児島県', 'prefectures/index?prefecture_id=45', class: "pflex-about"%>
        <%= link_to '沖縄県', 'prefectures/index?prefecture_id=46', class: "pflex-about"%>
      </div>
  </div>
</div>