<div class='MainSpace'>
</div>
<div class='SearchSection'>
  <div class='SearchBackgroundImage' style="background-image: url(<%= asset_path "TopPageImage.jpg" %>);">
    <p class='ApplicationKeyword'>〜故郷の良さを再発見〜
    </p>
    <p class='ApplicationIntroduce'>ここは故郷・今住んでいる場所のお気に入りスポットなどを投稿して共有するためのサイトです
    </p>
    <p class='SearchHeading'>Keyword
    </p>
    <div class='SearchSpace'>
      <%= form_with(url: search_posts_path, local: true, method: :get, class: "SearchForm") do |form| %>
        <%= form.text_field :keyword, placeholder: "キーワード検索する", class: "SearchForm__content" %>
        <%= form.submit "検索", class: "SearchForm__bottum" %>
      <% end %>
    </div>
  </div>
</div>
<div class='categorySection'>
  <p class='categoryHeading'>Category
  </p>
</div>
<div class='categorySearch'>
  <%= render partial: "Flexslider" %>
</div>
<div class='prefectureSection'>
  <p class='prefectureHeading'> Prefecture
  </p>
</div>
<div class='prefectureSearch'>
  <%= render partial: "prefectureFlexslider" %>
</div>

<div class='PresentLocationSearch'>
  <div class='PresentLocationSearch__Bottum'>
  </div>
</div>
<div class='NewPostMessage'>
  <h2 class='NewPostMessage__heading'>
    New Posts
  </h2>
</div>
<div class='seeMore'>
  <%= link_to 'See More...', newposts_path %>
</div>
<div class="PostIndex">
  <% @posts.first(5).each do |post| %>
    <div class='NewPost'>
      <div class='indexUserInformation'>
        <div class="indexUserInfomation__userAvater">
          <%= image_tag post.user.image.url, class: "avater" %>
        </div>
        <%# <div class='UserInformation__userImage'>
          <i class="fas fa-user-circle"></i>
        </div> %>
        <div class='indexUserInfomation__username'>
          <a href="/users/<%= post.user.id %>">
            <%= post.user.name %>
          </a>
        </div>
        <div class='indexUserInfomation__date'>
          <i class="far fa-clock"></i>
          <span><%= time_ago_in_words(post.created_at) %>前</span>
        </div>
      </div>
      <div class="PostTitle">
        <span>~ <%= post.title %> ~</span>
      </div>
      <div class='PostImage' style="background-image: url(<%= post.image %>);">
      <%= link_to '', post_path(post.id), method: :get %>
        <div class="AreaInfomation">
          <div class="UserIcon">
            <i class="fas fa-map-marker-alt"></i>
          </div>
          <div class="AreaName">
            <%= post.prefecture.name if post.prefecture_id? %>
          </div>
        </div>
        <div class="indexFavorite">
          <i class="far fa-bookmark"></i>
        </div>
      </div>
      <div class='ReviewBox__LikeIcon'>
        <i class="fas fa-thumbs-up"></i>
      </div>
    </div>
  <% end %>
</div>


