<div class="PostShow">
  <div class='NewPostArea'>
    <div class="PostTitle">
      <span>~ <%= @post.title %> ~</span>
    </div>
    <div class='PostImage' style="background-image: url(<%= @post.image %>);">
      <% if user_signed_in? && current_user.id == @post.user.id %>
        <div class="AreaInfomation">
          <div class="UserIcon">
            <i class="fas fa-map-marker-alt"></i>
          </div>
          <div class="AreaName">
            <%= @post.prefecture.name if @post.prefecture_id? %>
          </div>
        </div>
        <div class="more">
          <span><%= image_tag 'arrow_top.png' %></span>
          <ul class="more_list">
            <li>
              <%= link_to '編集', edit_post_path(@post.id), method: :get %>
            </li>
          </ul>
          <% if user_signed_in? && current_user.id == @post.user_id %>
            <%= link_to '編集', edit_post_path(@post.id), method: :get %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class='PostDescription'>
      <%= @post.content %>
    </div>
    <div class='ReviewBox'>
      <div class='likeIcon'>
        <i class="fas fa-thumbs-up"></i>
      </div>
      <div class='numberOfView'>
        <i class="fas fa-eye"></i>
      </div>
    </div>
  </div>
  <div class='GoogleMapShow'>
    <%= render 'showmap', post: @post %>
  </div>
</div>

<div class="commentBox">
  コメント欄
  <div class="commentList">
    <% if user_signed_in? %>
      <% @comments.each do |comment| %>
        <% if comment.user_id == current_user.id %>
          <div class="comment_Me.comment_one_block" data-index=<%= comment.id %>>
            <% if comment.delete_check == 1 %>
              <div class="comment_content">
                <%= render 'posts/comment_delete_restore_btn', comment: comment %>
              </div>
            <% else %> 
              <div class="comment_content">
                <%= comment.content %>
                <div class="comment_create_at">
                  <%= comment.created_at.strftime("%Y年%m月%d日 %H時%M分") %>
                </div>
                <% if comment.post.user == current_user %>
                  <div class="comment_delete me_pre_delete" data-index=<%= comment.id %>>
                    <%= link_to '削除する', comment_path(comment.id) ,method: :patch %>
                  </div>
                <% end %>
              </div>
              <%= render 'posts/comment_name',comment: comment %>
            <% end %>
          </div>
        <% else %>
          <div class="comment_Me.comment_one_block" data-index=<%= comment.id %>>
            <%= render 'posts/comment_name',comment: comment %>
            <% if comment.delete_check == 1 %>
              <div class="comment_content_other">
                <%= render 'posts/comment_delete_restore_btn',comment: comment %>
              </div>
            <% else %>
              <div class="comment_content_other">
                <%= comment.comment %>
                <div class="comment_create_at">
                  <%= comment.created_at.strftime("%Y年%m月%d日 %H時%M分") %>
                </div>
                <% if comment.post.user == current_user %>
                  <div class="comment_delete.other_pre_delete" data-index=<%= comment.id %>>
                    <%= link_to '削除する', comment_path(comment.id) ,method: :patch %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <% if user_signed_in? %>
    <%= form_with(model: [@post, @comment], url: {:action => :create}, local: true, class:"new_comment") do |f| %>
      <%= f.text_area :comments, id: "comment_body", class: "commentBox__inputArea", rows:2, wrap: "soft"%>
      <%= f.hidden_field :post_id, value: @post.id %>
      <div commentBox__inputArea--submit>
        <%= f.button type: 'submit',class: "submitBtn" do %>
          ボタン
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>