<div class="PostShow">
  <div class='NewPostArea'>
    <div class="PostTitle">
      <span>~ <%= @post.title %> ~</span>
    </div>
    <div class='PostImage' style="background-image: url(<%= @post.image %>);">
      <% if user_signed_in? && current_user.id == @post.user.id %>
        <div class="AreaInfomation">
          <div class="UserIcon">
            <i class="fas fa-map-marker-alt"></i>
          </div>
          <div class="AreaName">
            <%= @post.prefecture.name if @post.prefecture_id? %>
            <%# <%= @post.prefecture.name if @post.prefecture_id? %>
          </div>
        </div>
        <div class="more">
          <ul class="more_list">
            <li>
              <%= link_to '編集', edit_post_path(@post.id), method: :get %>
            </li>
          </ul>
        </div>
      <% end %>
    </div>
    <div class='PostDescription'>
      <%= @post.content %>
    </div>
    <div class='ReviewBox'>
      <div class='likeIcon'>
        <i class="fas fa-thumbs-up"></i>
      </div>
      <div class='numberOfView'>
        <i class="fas fa-eye"></i>
      </div>
    </div>
  </div>
  <div class='GoogleMapShow'>
    <%= render partial: "gmap" %>
  </div>
</div>
<div class="CommentSpace">
  <% if current_user %>
    <%= form_with(model: [@post, @comment], local: true, id: "new_comment") do |form| %>
      <%= form.text_area :content, placeholder: "コメントする", rows: "3", class: "contentbox"%>
      <%= form.submit "SEND", class: "form__submit" %>
    <% end %>
  <% else %>
    <strong><p>*** コメント投稿は新規登録/ログインが必要です ***<p></strong>
  <% end %>
</div>
<div class="comments">
  <h3>【コメント一覧】</h3>
  <% if @comments %>
    <% @comments.each do |comment| %>
      <p>
        <strong><%= link_to comment.user.name, "/users/#{comment.user_id}" %>:</strong>
        <%= comment.content %>
      </p>
    <% end %>
  <% end %>
</div>

<p class="nomalcontent">禁止されている</p><a class="link">行為</a><p class="nomalcontent">および</p><a class="link">出品物</a><p>を必ずご確認ください。</p>