<!DOCTYPE html>
<html>
  <head>
    <title>MyTown3</title>
 
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <%= javascript_include_tag 'application' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  </head>

  <body>
    <header class="header">
      <div class="header__ber">
        <%# <p><img src="MyTownLogo.jpg" width="400" height="50" alt="ロゴを表示" class='logo'></p> %>
        <h1 class="grid-6"><a href="/">My town</a></h1>
        <% if user_signed_in? %>
          <div class="user_nav_logout">
            ログイン名: <span><%= current_user.name %></span>
            <%= link_to "マイページ", "/users/#{current_user.id}" %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
            <%= link_to  "投稿する", new_post_path, class: "post" %>
            <%= link_to  "求人情報一覧", recruitments_path, class: "post" %>
          </div>
        <% else %>
          <div class="user_nav_login">
            <%= link_to "ログイン", new_user_session_path, class: 'post' %>
            <%= link_to "新規登録", new_user_registration_path, class: 'post' %>
          </div>
        <% end %>
      </div>
      <div class="icon">
        <i class="fas fa-user"></i>
        <i class="fas fa-bell"></i>
      </div>
    </header>
    <%= yield %>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </body>
</html>